<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8">
<title>Anuncia 2 </title>


</head>
<body>

<header th:fragment="header">
 <div class="modal fade" id="asignacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">estas programado para el proximo servicio.</div>


                <div class="modal-footer">

                     <button class="btn btn-secondary" type="button" data-dismiss="modal" >Cancelar</button>

                    <form method="POST" th:action="@{/miProgramacion}">
                        <input class="form-control" type="text" name="id" id="idPServicio" style="display:none" >
                        <input type="submit" value="Consultar programacion" class="btn btn-primary">
                    </form>

                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>