<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anuncia2 - Editar Permisos</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block  bg-register-image">
                        <img height="50%" width="120%" alt="logo" src="img/logo.jpeg"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Editar rol de: </h1>
                            </div>
                           <form method="POST" th:action="@{/editarRoles}">
                               <div class="form-group" style="display:none;">
                                   <input type="text" class="form-control form-control-user" name="idPersona" id="idPersona"
                                          th:value="${persona.id}" readonly>
                               </div>
                           <div class="form-group" >
                                    <input type="text" class="form-control form-control-user" name="nombre" id="nombre"
                                        th:value="${persona.nombre}" readonly>
                                </div>

                               <select class="form-control" name="idRol" id="idRol">
                                   <option  th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.descripcion}"
                                            th:selected="${rol.id==idRol.id}"></option>
                               </select>

                                <br>
                                <input type="submit" value="Guardar " class="btn btn-primary container">
                                <hr>
                            </form>
                        </div>

                        <hr>
                        <div class="text-center"  th:if="${descripcionRol =='ADMINISTRADOR'}" >
                            <h1 class="h4 text-gray-900 mb-4">activa o desactiva funciones <br>para este administrador!</h1>
                        </div>

                        <hr>

                        <div class="card-body"  th:if="${descripcionRol =='ADMINISTRADOR'}" >
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>estado</th>
                                        <th>nombre boton menu</th>
                                        <th>Acciones</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="perm, itemStat : *{permisos}">
                                        <div class="form-group" style="display:none;">
                                            <input type="text" class="form-control form-control-user" name="id" id="id"
                                                   th:value="${perm.id}" readonly>
                                        </div>

                                        <td class="permHabilitado"   th:if="${perm.estado =='true'}">Habilitado</td>
                                        <td class="permDeshabilitado"  th:if="${perm.estado =='false'}">Deshabilitado</td>

                                        <td >
                                            <input type="text" class="form-control form-control-user" name="nombreBotonMenu" id="nombreBotonMenu"
                                                   th:value="*{perm.nombreBotonMenu}" readonly>
                                        </td>

                                        <td>
                                            <a class="btn btn-primary" th:if="${perm.estado =='false'}"
                                               th:href="@{/actualizarPermiso(idPersona=${perm.idPersona},estado='true',id=${perm.id},nombreBotonMenu=${perm.nombreBotonMenu},descRol=${descripcionRol},idMenu=${perm.id})}"
                                               type="submit"  data-toggle="tooltip" data-placement="right" title="inscribirme" >Habilitar
                                            </a>
                                            <a class="btn btn-danger" th:if="${perm.estado =='true'}"
                                               th:href="@{/actualizarPermiso(idPersona=${perm.idPersona},estado='false',id=${perm.id},nombreBotonMenu=${perm.nombreBotonMenu},descRol=${descripcionRol},idMenu=${perm.id})}"
                                               type="submit"  data-toggle="tooltip" data-placement="right" title="inscribirme" >Deshabilitar
                                            </a>

                                        </td>

                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div align="center" class="center-block" >
                        <form action="listarRoles" method="GET">
                            <button class="btn btn-warning"  type="submit"  data-toggle="tooltip" data-placement="right" title="Regresar" value="regresar">
                                Regresar
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <style>


.permDeshabilitado {
  border: 1px solid;
  color: red;
}

.permHabilitado {
  border: 1px solid;
  color: #58D68D ;
}
</style>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <!-- Cargar local Storage-->
    <script src="js/storage.js"></script>
    
        <!-- scripts for all pages-->
    <script src="js/login.js"></script>  

</body>

</html>