<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anuncia 2- Cursos</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <header th:replace="layout/layout :: header"></header>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                 <header th:replace="layout/layoutSuperior :: header"></header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="h3 mb-2 text-primary">TCD</h1>
                            <h6 class="m-0 font-weight-bold text-primary">
                                cargar Imagen de tu Tiempo con Dios para el dia:<span th:text="${fecha}"></span></h6>
                        </div>
                        <div>

                            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary">
                            <p th:text="${messageError}" th:if="${messageError ne null}" class="alert alert-danger">

                            <div class="card-body">
                                <h4 class="card-title">
                                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                                        <div class="form-group" style="display:none">
                                            <input type="text" class="form-control form-control-user" name="id" id="id"
                                                   th:value="${idPersona}">
                                        </div>
                                        <div class="form-group">
                                            <input type="file" name="image" accept="image/*" class="form-control-file">
                                        </div>
                                        <button type="submit" class="btn btn-primary">cargar tiempo con Dios</button>
                                    </form>
                                    <span th:if="${msg != null}" th:text="${msg}"></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>


                <style>
                    .container {
                        justify-content: center;
                    }

                    .aligncenter {
                        text-align: center;
                    }
                </style>
 <!-- Logout Modal-->
    <header th:replace="layout/modalSalir :: header"></header>

                <!-- Bootstrap core JavaScript-->
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                <!-- Core plugin JavaScript-->
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

                <!-- Custom scripts for all pages-->
                <script src="js/sb-admin-2.min.js"></script>
    <!-- Cargar local Storage-->
    <script src="js/storage.js"></script>
    <script src="js/cargarData.js"></script>

                <!-- Page level plugins -->
                <script src="vendor/datatables/jquery.dataTables.min.js"></script>
                <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

                <!-- Page level custom scripts 
    <script src="js/demo/datatables-demo.js"></script>-->

</body>

</html>